<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Site </title>
  </head>
  <body>
    {{> Header}}
    <p>Tell me what you want to know. For starters my name is {{screamIt name}}. During leisure activities, I am focused on{{hobbies}}</p>

    {{> footer}}
  </body>
</html>
